//
// _table.scss
//

.table {
    --bs-table-color: var(--text-default);
    --bs-table-bg: transparent;
    --bs-table-accent-bg: none;
    --bs-table-striped-color: var(--text-default);
    --bs-table-striped-bg: var(--alert-primary-bg);
    --bs-table-hover-color: var(--text-default);
    --bs-table-hover-bg: var(--table-hover-bg);
    --bs-table-border-color: var(--card-border-color);
    --bs-table-border-outer-color: var(--card-border-color);

    color: var(--text-default);
    font-size: 0.875rem;
    border-spacing: 0;
    border-collapse: separate;
    width: auto;

    &.table-bordered {
        thead th {
            border-top-width: 1px;
        }

        &:has(thead) {
            thead {
                th {
                    border-top-color: var(--bs-table-border-outer-color);
                    border-left-width: 0;
                    border-right-width: 1px;
                    border-top-width: 1px;
                    border-bottom-width: 0;

                    &:first-child {
                        border-left-width: 1px;
                        border-top-left-radius: 6px;
                        overflow: hidden;
                    }

                    &:last-child {
                        border-top-right-radius: 6px;
                        overflow: hidden;
                    }
                }
            }
        }

        &:not(:has(thead)) {
            tbody {
                tr {
                    &:first-child {
                        td:first-child {
                            border-top-left-radius: 6px;
                            overflow: hidden;
                        }

                        td:last-child {
                            border-top-right-radius: 6px;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    border-left-width: 0;
                    border-right-width: 1px;
                    border-top-width: 1px;
                    border-bottom-width: 0;
                }

                td:first-child {
                    border-left-width: 1px;
                }

                &:last-child td {
                    border-bottom-width: 1px;
                }
            }

            tr:last-child {
                td:first-child {
                    border-bottom-left-radius: 6px;
                    overflow: hidden;
                }

                td:last-child {
                    border-bottom-right-radius: 6px;
                    overflow: hidden;
                }
            }
        }

        &.table-bordered-outline {
            &:has(thead) {
                thead {
                    th {
                        border-top-width: 2px;
                        border-bottom-width: 0;

                        &:first-child {
                            border-left-color: var(--bs-table-border-outer-color);
                            border-left-width: 2px;
                        }

                        &:last-child {
                            border-right-color: var(--bs-table-border-outer-color);
                            border-right-width: 2px;
                        }
                    }
                }
            }

            &:not(:has(thead)) {
                tbody {
                    tr {
                        &:first-child {
                            td {
                                border-top-color: var(--bs-table-border-outer-color);
                                border-top-width: 2px;
                            }
                        }
                    }
                }
            }

            tbody {
                tr {
                    td:first-child {
                        border-left-color: var(--bs-table-border-outer-color);
                        border-left-width: 2px;
                    }

                    td:last-child {
                        border-right-color: var(--bs-table-border-outer-color);
                        border-right-width: 2px;
                    }

                    &:last-child td {
                        border-bottom-color: var(--bs-table-border-outer-color);
                        border-bottom-width: 2px;
                    }
                }
            }
        }
    }

    &.table-borderless {
        thead th {
            border-width: 0;
        }
    }

    &.table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
}
