//
// _table.scss
//

:root {
    --table-hover-bg: rgba(0, 0, 0, 0.075);
}

[data-dark-mode] {
    --table-hover-bg: rgba(255, 255, 255, 0.075);
}

.table {
    --bs-table-color: var(--text-default);
    --bs-table-bg: transparent;
    --bs-table-accent-bg: none;
    --bs-table-striped-color: var(--text-default);
    --bs-table-striped-bg: var(--alert-primary-bg);
    --bs-table-hover-color: var(--text-default);
    --bs-table-hover-bg: var(--table-hover-bg);

    color: var(--text-default);
    font-size: 0.875rem;
    border-spacing: 0;
    width: auto;

    thead, tbody, tfoot, tr, td, th {
        border-color: var(--card-border-color);
    }

    &.table-bordered {
        thead th {
            border-top-width: 1px;
        }
    }

    &.table-borderless {
        thead th {
            border-width: 0;
        }
    }

    &.table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

}
