<% if (page.tags && page.tags.length) { %>
    <div class="article-tag">
        <i class="fa-solid fa-compact-disc"></i>
        <%- list_tags(page.tags, { show_count: false, style: 'link' }) %>
    </div>
<% } %>
