<% if (page.tags && page.tags.length) { %>
    <div class="article-tag">
        <i class="bi bi-disc-fill"></i>
        <% site.pages.forEach(album => {
            if (album.id !== page.tags.data[0].name) return;
        %>
            <a class="tag-link-link" href=<%= "/" + page.tags.data[0].name %> rel="tag">
                <%= album.title %>
                <% if (album.subtitle) { %>
                    (<%= album.subtitle %>)
                <% } %>
            </a>
        <% }); %>
    </div>
<% } %>
