<% if (page.tags && page.tags.length) { %>
    <div class="article-tag">
        <i class="bi bi-disc-fill"></i>
        <% site.pages.forEach(album => {
            if (album.id !== page.tags[0]) return;
        %>
            <a class="tag-link-link" href=<%= "/" + page.tags[0] %> rel="tag">album.title</a>
        <% }); %>
    </div>
<% } %>
