<div class="albums">
    <h1><%= title %></h1>
    <div class="row row-cols-2 row-cols-md-5 row-cols-lg-5 g-2">
        <% site.sortedPages.forEach(page => {
            if (page.type !== type) return;
        %>
            <%- partial('_partial/album', { page: page }) %>
        <% }); %>
    </div>
</div>