<div class="col">
    <div class="card bg-transparent mx-3 mx-md-0">
        <img src="<%= page.cover %>" alt="<%= page.title %>" class="rounded" />
        <p class="text-center"><a href="<%= page.permalink %>"><%= page.title || page.slug %></a></p>
    </div>
</div>