<footer id="footer">
  <div class="footer-left">
    This website is not affiliated with C9 Ent. All photos are property of their respective owners.<br>
    Copyright &copy; <%= new Date().getFullYear() %> <%= config.author || config.title %>
  </div>
</footer>
